rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Setiap pengguna yang telah login dengan Google memiliki akses baca & tulis penuh ke data milik mereka sendiri
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
